.Social{
    /* background-color: #5a0b7e; */
    width: auto;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .Social-header{
    font-size: 30px;
  }
  
  .Social-links{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .link-box{
    background-color: #960c8257;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 800px;
    border-radius: 5px solid black;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 13px;
    transition: transform 0.3s;
  }
  
  .link-box:hover{
    transform: scale(1.1);
  }
  
  
  .link-box-01{
    background-color: #960c8257;
    height: 100px;
    width: 100px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .link-box-02{
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .linked-in{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffffd6;
  }
  
  .git-box{
    background-color: #960c8257;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 800px;
    border-radius: 5px solid black;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 13px;
    transition: transform 0.3s;
  }
  
  .git-box:hover{
    transform: scale(1.1);
  }
  
  .git-box-01{
    background-color: #960c8257;
    height: 100px;
    width: 100px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .git-box-02{
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .github{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffffd6;
  }
  
  .tweet-box{
    background-color: #960c8257;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 800px;
    border-radius: 5px solid black;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 13px;
    transition: transform 0.3s;
  }
  
  .tweet-box:hover {
    transform: scale(1.1);
    
  }
  
  .tweet-box-01{
    background-color: #960c8257;
    height: 100px;
    width: 100px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tweet-box-02{
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffffd6;
  }
  
  .gmail-box{
    background-color: #960c8257;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 800px;
    border-radius: 5px solid black;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 13px;
    transition: transform 0.3s;
  
  }
  
  .gmail-box:hover {
    transform: scale(1.1);
    
  }
  
  .gmail-box-01{
    background-color: #960c8257;
    height: 100px;
    width: 100px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gmail-box-02{
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gmail{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    color: #ffffffd6;
  }
  
  .insta-box{
    background-color: #960c8257;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 800px;
    border-radius: 5px solid black;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 13px;
    transition: transform 0.3s;
  }
  
  .insta-box:hover {
    transform: scale(1.1);
    
  }
  
  .insta-box-01{
    background-color: #960c8257;
    height: 100px;
    width: 100px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .insta-box-02{
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffffd6;
  }

  @media (min-width: 369px) and (max-width: 768px){
    .Social{
        width: auto;
        height:auto;
    }
    .Social-header{
        font-size: 15px;
    }

    .link-box{
        height: 75px;
        width: 475px;
        margin-top: 40px;
      }
    .link-box-01{
        height: 75px;
        width: 75px;
        border-radius: 13px;
        overflow: hidden;
        
    }

    .link-img{
      transform: scale(0.81);
    }
      
    .link-box-02{
        height: 75px;
        width: 375px;
    }

    .linked-in{
        font-size: 15px;
    }
    .git-box{
        height: 75px;
        width: 475px;
      }
    .git-box-01{
        height: 75px;
        width: 75px;
        border-radius: 13px;
    }

    .git-img{
      transform: scale(0.81);
    }
      
    .git-box-02{
        height: 75px;
        width: 375px;
    }
    
    .github{
        font-size: 15px;
    }
    .tweet-box{
        height: 75px;
        width: 475px;
      }
    .tweet-box-01{
        height: 75px;
        width: 75px;
        border-radius: 13px;
    }

    .tweet-img{
      transform: scale(0.81);
    }
      
    .tweet-box-02{
        height: 75px;
        width: 375px;
    }
    
    .twitter{
        font-size: 15px;
    }
    
    .gmail-box{
        height: 75px;
        width: 475px;
      }
    .gmail-box-01{
        height: 75px;
        width: 75px;
        border-radius: 13px;
    }

    .gmail-img{
      transform: scale(0.81);
    }
      
    .gmail-box-02{
        height: 75px;
        width: 375px;
    }
    
    .gmail{
        font-size: 15px;
    }
    .insta-box{
        height: 75px;
        width: 475px;
      }
    .insta-box-01{
        height: 75px;
        width: 75px;
        border-radius: 13px;
    }

    .insta-img{
      transform: scale(0.81);
    }
      
    .insta-box-02{
        height: 75px;
        width: 375px;
    }
    
    .instagram{
        font-size: 15px;
    }

}

@media (min-width: 0px) and (max-width: 368px){
  .Social{
      width: auto;
      height:auto;
  }
  .Social-header{
      font-size: 15px;
  }

  .link-box{
      height: 75px;
      width: 300px;
      margin-top: 40px;
    }
  .link-box-01{
      height: 75px;
      width: 75px;
      border-radius: 13px;
      overflow: hidden;
      
  }

  .link-img{
    transform: scale(0.8);
  }
    
  .link-box-02{
      height: 75px;
      width: 225px;
  }

  .linked-in{
      font-size: 15px;
  }
  .git-box{
      height: 75px;
      width: 300px;
    }
  .git-box-01{
      height: 75px;
      width: 75px;
      border-radius: 13px;
  }

  .git-img{
    transform: scale(0.8);
  }
    
  .git-box-02{
      height: 75px;
      width: 225px;
  }
  
  .github{
      font-size: 15px;
  }
  .tweet-box{
      height: 75px;
      width: 300px;
    }
  .tweet-box-01{
      height: 75px;
      width: 75px;
      border-radius: 13px;
  }

  .tweet-img{
    transform: scale(0.8);
  }
    
  .tweet-box-02{
      height: 75px;
      width: 225px;
  }
  
  .twitter{
      font-size: 15px;
  }
  
  .gmail-box{
      height: 75px;
      width: 300px;
    }
  .gmail-box-01{
      height: 75px;
      width: 75px;
      border-radius: 13px;
  }

  .gmail-img{
    transform: scale(0.8);
  }
    
  .gmail-box-02{
      height: 75px;
      width: 225px;
  }
  
  .gmail{
      font-size: 15px;
  }
  .insta-box{
      height: 75px;
      width: 300px;
    }
  .insta-box-01{
      height: 75px;
      width: 75px;
      border-radius: 13px;
  }

  .insta-img{
    transform: scale(0.8);
  }
    
  .insta-box-02{
      height: 75px;
      width: 225px;
  }
  
  .instagram{
      font-size: 15px;
  }

}