body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(wallpapersden.com_k-beautiful-landscape-digital-art_1600x900.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
